.itemInfo {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tableTitle{
    font-weight: 780;
}

.subTitle{
  font-style: italic;
}

.tableEntry
{
  display: flex;
}

.dateEntry
{
  margin-left: 20%;
}